.navbar {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #ffffff;
  z-index: 1000;
  position: relative;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap; 
}

.menu li {
  position: relative;
  cursor: pointer;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 6px;
}

.menu a:hover {
  background-color: #ffffff;
}

.mega-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: max-content;
  max-width: 90vw;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.mega-menu h3 {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
}

.mega-menu ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  gap: 12px;
  flex-direction: row;
}

.mega-menu li {
  margin: 6px 0;
}

.mega-menu a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.mega-menu a:hover {
  color: #00796b;
}
.sin-stock {
  margin-top: 8px;
  text-align: center;
  color: #ff0a0a;
  font-weight: bold;
  font-size: 14px;
}




@media screen and (max-width: 768px) {
   .menu {
    flex-direction: row;
    justify-content: center;
    gap: 8px;             /* menos gap */
    flex-wrap: nowrap;    /* <-- esto es lo que necesitás */
  }
 .menu a {
    font-size: 20px;
    padding: 4px 6px;
  }
  .mega-menu {
  position: absolute;
  top: 100%;
  left: -60px;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: max-content;
  max-width: 90vw;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

  .mega-menu ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 8px;
  }

  .menu-link {
    padding: 8px 12px;
    background-color: #ffffff;
    border-radius: 6px;
  }

  .menu-link:hover {
    background-color: #f0f0f0;
  }
}

