.navbar {
  background-color: #181818; /* O el color de fondo de tu sitio */
  padding: 20px 40px;
  font-family: 'Segoe UI', sans-serif;
  position: relative;
  z-index: 100;
  border-bottom: none !important;
  box-shadow: none !important;
}


.menu {
  display: flex;
  justify-content: center;
  gap: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: none !important;
  box-shadow: none !important;
}

.menu li {
  position: relative;
  cursor: pointer;
  font-size: 16px;
}

.menu a {
  text-decoration: none;
  font-weight: 500;
  font-size: 22px;
  background: linear-gradient(90deg, #039a83d9 0%, #099bae 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  transition: filter 0.2s;
}

.menu a:hover {
  filter: brightness(1.2);
}

.mega-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #181818; /* O el color de fondo de tu sitio */
  padding: 30px 60px;
  display: flex;
  gap: 80px;
  border-top: none; /* Quita la línea blanca */
  z-index: 99;
}

.columna {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.columna h3 {
  font-size: 16px;
  margin-bottom: 12px;
  color: #333;
}

.columna ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.columna li {
  margin-bottom: 10px;
}

.columna a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
}

.columna a:hover {
  color: #ffffff;
}

.contenido {
  padding: 40px;
  text-align: center;
  z-index: 1;
  position: relative;
}

body.dark {
  background: #181818;
}
body.light {
  background: #fff;
}

@media screen and (max-width: 768px) {
  .menu {
    gap: 30px;
  }

  .menu a {
    font-size: 26px;
    background: linear-gradient(100deg, #039a83d9 0%, #099bae 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}
