.menu li {
  cursor: pointer;
  font-size: 0px;
}
.menu a {
  text-decoration: none;
  font-weight: 500;
  font-size: 22px;
  background: linear-gradient(90deg, #039a83d9 0%, #099bae 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  transition: filter 0.2s;
}




@media screen and (max-width: 768px) {
  .menu {
    gap: 30px;
  }

  .menu a {
    font-size: 26px;
    background: linear-gradient(100deg, #039a83d9 0%, #099bae 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}
