body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.marquesina {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  
  height: 40px;
  display: flex;
  align-items: center;
}

.marquesina-contenido {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}

.marquesina-contenido span {
  display: inline-block;
  font-size: 1.1rem;
  color: #444;
}


@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
